<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
<title>Estoque</title>
<link rel="stylesheet" href="bootstrap/compiler/bootstrap.css" />
<link rel="stylesheet" href="bootstrap/compiler/style.css" />
</head>
<body class="bg-secondary">
	<div class="container">
		<img alt="Majority Caixa" src="images/majority-claro.png" align="top" />

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="menu"><h4>Majority Caixa</h4></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="cadastroProdutos">Cadastro de Produtos<span class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="registrarEntrada">Entrada no Estoque <span class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="venda">Vendas <span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</nav>

		<div class="jumbotron" align="center">

			<br /> <br />
			<h1>Estoque</h1>
			<br /> <br />

			<nav class="navbar navbar-light bg-light">
				<form class="form-inline" action="atualizarTabelaEstoque">
						<button type="submit" class="btn btn-primary">Atualizar Tabela</button>
				</form>
			</nav>

			<br /> <br />

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id do Produto</th>
						<th scope="col">Nome</th>
						<th scope="col">Marca</th>
						<th scope="col">Preço</th>
						<th scope="col">Quantidade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="produto : ${produtos}">
						<td><span th:text="${produto.id}"></span></td>
						<td><span th:text="${produto.nome}"></span></td>
						<td><span th:text="${produto.marca}"></span></td>
						<td><span th:text="${produto.preco}"></span></td>
						<td><span th:text="${produto.quantidade}"></span></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>