<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
<title>Menu</title>
<link rel="stylesheet" href="bootstrap/compiler/bootstrap.css" />
<link rel="stylesheet" href="bootstrap/compiler/style.css" />
</head>
<body class="bg-secondary">
	<div class="container">
		<img alt="Majority-caixa" src="images/majority-claro.png" align="top" />
		<div class="jumbotron" align="center" style="margin-top: 50px;">

			<h1>Menu</h1>
			<br/>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Cadastro de Produtos</h5>
							<p class="card-text">Cadastre os produtos que estão presentes no seu catalogo.</p>
							<a href="cadastroProdutos" class="btn btn-primary">Ir</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Vendas</h5>
							<p class="card-text">Registre aqui as vendas efetuadas por você.</p>
							<a href="venda" class="btn btn-primary">Ir</a>
						</div>
					</div>
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Registrar Entrada no Estoque</h5>
							<p class="card-text">Registre aqui as suas compras.</p>
							<a href="registrarEntrada" class="btn btn-primary">Ir</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Estoque</h5>
							<p class="card-text">Veja aqui a situação do seu estoque.</p>
							<a href="#" class="btn btn-primary">Ir</a>
						</div>
					</div>
				</div>
			</div>
			
			<br/>
		</div>

	</div>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>